<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andytan07.alfred-nord-connect</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>00F72511-E525-43A4-84CE-0EF1891C294F</key>
		<array/>
		<key>243BF9CE-BAE2-416A-8197-C1D0167FFA16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77A50EC1-8CE4-4E0C-8A2E-AC556F4276F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DF6E354A-1B0E-4962-A844-DF1E42D6B67D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A66585A3-88B5-4DED-8B98-02C839D79818</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>30725803-9176-4545-92DA-0AE63BA4A93D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC2698B7-5CB8-4592-9994-CB483EE81AE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>23C06E5F-FF06-499B-9165-B34B6340EBB2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98D98DDE-D673-436B-A2DA-9B5EFD821032</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BF5F3155-AC48-432D-B8BB-67FC07D71063</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27975527-5F5A-44A1-B4D7-3E31B1FD3F74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBA6AEB-A40A-44F6-96D1-171E6F246549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29465701-8116-44ED-8A88-41E77C083868</key>
		<array/>
		<key>3BF49806-E3B4-4FC9-8A72-52E1EBD0499D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>545981B7-EFBD-4CB6-87F3-4A17F8E232F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>419D13E9-4904-4921-ACF6-2B101F85A492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F26C0D7B-56D8-49B3-A256-4FC9CBB059F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41F2BED8-5192-45E8-B434-63E8EAA6EB58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5CC72C2-5535-4E5D-9321-FB9CE24BF254</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>545981B7-EFBD-4CB6-87F3-4A17F8E232F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBA6AEB-A40A-44F6-96D1-171E6F246549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F198940-126D-48FE-BF76-04A3CE925071</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBA6AEB-A40A-44F6-96D1-171E6F246549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68362F14-DBE5-4565-9EFF-749DB3DA5779</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3172E36-C0AB-4BA9-A3CC-F9C6CC9CE438</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8D7D32B8-F714-4CCA-BC7A-3F2726AC2D0B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69161AC8-18A0-4336-AD59-298F0D34860B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41F2BED8-5192-45E8-B434-63E8EAA6EB58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E471B44-EB05-4A44-8382-93054187E883</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A29437B-1841-425B-8CC2-D51D27A01695</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BBA6AEB-A40A-44F6-96D1-171E6F246549</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85DD160B-FF17-429B-9D3A-17083067FD4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77A50EC1-8CE4-4E0C-8A2E-AC556F4276F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>419D13E9-4904-4921-ACF6-2B101F85A492</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>810623DD-04A6-4F43-9DB8-CC51A61B6ADB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27975527-5F5A-44A1-B4D7-3E31B1FD3F74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85DD160B-FF17-429B-9D3A-17083067FD4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69161AC8-18A0-4336-AD59-298F0D34860B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A29437B-1841-425B-8CC2-D51D27A01695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>243BF9CE-BAE2-416A-8197-C1D0167FFA16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D304529-3C2B-4572-A670-8C3A1FFF5648</key>
		<array/>
		<key>A5CC72C2-5535-4E5D-9321-FB9CE24BF254</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>243BF9CE-BAE2-416A-8197-C1D0167FFA16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A66585A3-88B5-4DED-8B98-02C839D79818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF7BC7A1-0E55-40A9-92DE-CB180389AF42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1DA8447-7426-4D25-BE1B-5062BBA959D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAB1CB8E-E4F0-4E17-A65B-51BFB2EA00B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7376868-8995-455F-9E6E-C278A99B6B8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAB1CB8E-E4F0-4E17-A65B-51BFB2EA00B9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Quick connect</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F198940-126D-48FE-BF76-04A3CE925071</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF7BC7A1-0E55-40A9-92DE-CB180389AF42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>419D13E9-4904-4921-ACF6-2B101F85A492</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAB1CB8E-E4F0-4E17-A65B-51BFB2EA00B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBA6AEB-A40A-44F6-96D1-171E6F246549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F26C0D7B-56D8-49B3-A256-4FC9CBB059F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00F72511-E525-43A4-84CE-0EF1891C294F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10D298E1-49DE-4900-9C79-9DD0B4C7F422</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29465701-8116-44ED-8A88-41E77C083868</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A9B7B7D6-A642-4C1F-B160-56EEA9B9D90C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC2698B7-5CB8-4592-9994-CB483EE81AE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68362F14-DBE5-4565-9EFF-749DB3DA5779</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Tan</string>
	<key>description</key>
	<string>Connect/Disconnect NordVPN</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nord Connect</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:quick_connect_kw}</string>
				<key>subtext</key>
				<string>Quick Connect to any country using NordVPN</string>
				<key>text</key>
				<string>Quick Connect</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1DA8447-7426-4D25-BE1B-5062BBA959D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./quick-connect</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77A50EC1-8CE4-4E0C-8A2E-AC556F4276F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./update-countries-file</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D304529-3C2B-4572-A670-8C3A1FFF5648</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Connected!</string>
				<key>title</key>
				<string>Nord Connect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>00F72511-E525-43A4-84CE-0EF1891C294F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./open-nordvpn</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5CC72C2-5535-4E5D-9321-FB9CE24BF254</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>is_quick_connect</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EAB1CB8E-E4F0-4E17-A65B-51BFB2EA00B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Stop further processing</string>
						<key>uid</key>
						<string>DF8003BA-C09E-400B-9985-E537E348F74B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Continue</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>419D13E9-4904-4921-ACF6-2B101F85A492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Yes</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Your NordVPN is closed, do you want to open it?</string>
				<key>title</key>
				<string>NordVPN not found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>41F2BED8-5192-45E8-B434-63E8EAA6EB58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_quick_connect}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Show quick connect noti</string>
						<key>uid</key>
						<string>10D298E1-49DE-4900-9C79-9DD0B4C7F422</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:is_connect}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Show connect noti</string>
						<key>uid</key>
						<string>A9B7B7D6-A642-4C1F-B160-56EEA9B9D90C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F26C0D7B-56D8-49B3-A256-4FC9CBB059F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:connect_kw}</string>
				<key>subtext</key>
				<string>Connect to selected country using NordVPN</string>
				<key>text</key>
				<string>Connect</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C7376868-8995-455F-9E6E-C278A99B6B8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_connect</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F198940-126D-48FE-BF76-04A3CE925071</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./connect-to-country</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF7BC7A1-0E55-40A9-92DE-CB180389AF42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading countries, please wait...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./get-countries</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select country to connect</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A66585A3-88B5-4DED-8B98-02C839D79818</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Connected to {query}</string>
				<key>title</key>
				<string>Nord Connect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>29465701-8116-44ED-8A88-41E77C083868</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./check-nordvpn-window</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85DD160B-FF17-429B-9D3A-17083067FD4C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_quick_connect}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Quick Connect</string>
						<key>uid</key>
						<string>DF6E354A-1B0E-4962-A844-DF1E42D6B67D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:is_connect}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Connect</string>
						<key>uid</key>
						<string>30725803-9176-4545-92DA-0AE63BA4A93D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:is_disconnect}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Disconnect</string>
						<key>uid</key>
						<string>23C06E5F-FF06-499B-9165-B34B6340EBB2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:is_debug_info}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Output Debug Info</string>
						<key>uid</key>
						<string>BF5F3155-AC48-432D-B8BB-67FC07D71063</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>qc</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>243BF9CE-BAE2-416A-8197-C1D0167FFA16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>NordVPN not opened</string>
						<key>uid</key>
						<string>5E471B44-EB05-4A44-8382-93054187E883</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>NordVPN opened</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>69161AC8-18A0-4336-AD59-298F0D34860B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>6BBA6AEB-A40A-44F6-96D1-171E6F246549</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A29437B-1841-425B-8CC2-D51D27A01695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:disconnect_kw}</string>
				<key>subtext</key>
				<string>Disconnect NordVPN</string>
				<key>text</key>
				<string>Disconnect</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BF49806-E3B4-4FC9-8A72-52E1EBD0499D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>is_disconnect</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>545981B7-EFBD-4CB6-87F3-4A17F8E232F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./disconnect</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC2698B7-5CB8-4592-9994-CB483EE81AE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Disconnected</string>
				<key>title</key>
				<string>Nord Connect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D3172E36-C0AB-4BA9-A3CC-F9C6CC9CE438</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Show notification</string>
						<key>uid</key>
						<string>8D7D32B8-F714-4CCA-BC7A-3F2726AC2D0B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>68362F14-DBE5-4565-9EFF-749DB3DA5779</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nordinfo</string>
				<key>subtext</key>
				<string>Print UI info of NordVPN app</string>
				<key>text</key>
				<string>NordVPN Debug</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>810623DD-04A6-4F43-9DB8-CC51A61B6ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_debug_info</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>27975527-5F5A-44A1-B4D7-3E31B1FD3F74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>2</integer>
				<key>fontsizing</key>
				<integer>2</integer>
				<key>footertext</key>
				<string>All UI elements of NordVPN</string>
				<key>inputfile</key>
				<string>./debug-info</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Getting NordVPN UI info, please wait....</string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>98D98DDE-D673-436B-A2DA-9B5EFD821032</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00F72511-E525-43A4-84CE-0EF1891C294F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>3625</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>243BF9CE-BAE2-416A-8197-C1D0167FFA16</key>
		<dict>
			<key>xpos</key>
			<real>2090</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>27975527-5F5A-44A1-B4D7-3E31B1FD3F74</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>29465701-8116-44ED-8A88-41E77C083868</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>3625</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>3BF49806-E3B4-4FC9-8A72-52E1EBD0499D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>419D13E9-4904-4921-ACF6-2B101F85A492</key>
		<dict>
			<key>xpos</key>
			<real>2975</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>41F2BED8-5192-45E8-B434-63E8EAA6EB58</key>
		<dict>
			<key>xpos</key>
			<real>1525</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>545981B7-EFBD-4CB6-87F3-4A17F8E232F6</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>5F198940-126D-48FE-BF76-04A3CE925071</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Connect to selected country</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>68362F14-DBE5-4565-9EFF-749DB3DA5779</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>2670</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>69161AC8-18A0-4336-AD59-298F0D34860B</key>
		<dict>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>6BBA6AEB-A40A-44F6-96D1-171E6F246549</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>77A50EC1-8CE4-4E0C-8A2E-AC556F4276F3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Connect to random country by clicking on "Quick Connect" button</string>
			<key>xpos</key>
			<real>2545</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>810623DD-04A6-4F43-9DB8-CC51A61B6ADB</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>85DD160B-FF17-429B-9D3A-17083067FD4C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Check whether NordVPN is opened</string>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>98D98DDE-D673-436B-A2DA-9B5EFD821032</key>
		<dict>
			<key>xpos</key>
			<real>2430</real>
			<key>ypos</key>
			<real>1135</real>
		</dict>
		<key>9A29437B-1841-425B-8CC2-D51D27A01695</key>
		<dict>
			<key>note</key>
			<string>Remove the output "true"</string>
			<key>xpos</key>
			<real>1685</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>9D304529-3C2B-4572-A670-8C3A1FFF5648</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Refresh country list to reset index since Recents list will update</string>
			<key>xpos</key>
			<real>4375</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>A5CC72C2-5535-4E5D-9321-FB9CE24BF254</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open NordVPN window (NordVPN app must in active state, but not necessary open)</string>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>A66585A3-88B5-4DED-8B98-02C839D79818</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>2440</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>B1DA8447-7426-4D25-BE1B-5062BBA959D0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>C7376868-8995-455F-9E6E-C278A99B6B8F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>CF7BC7A1-0E55-40A9-92DE-CB180389AF42</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Connect to a country via row index. Probably not so stable, it might break on future NordVPN update, but this is the fastest way right now)</string>
			<key>xpos</key>
			<real>2710</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>D3172E36-C0AB-4BA9-A3CC-F9C6CC9CE438</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>2820</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>EAB1CB8E-E4F0-4E17-A65B-51BFB2EA00B9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Quick connect without selecting country</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>F26C0D7B-56D8-49B3-A256-4FC9CBB059F1</key>
		<dict>
			<key>xpos</key>
			<real>3275</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>FC2698B7-5CB8-4592-9994-CB483EE81AE0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>2445</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nordc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Select country to connect in NordVPN</string>
			<key>label</key>
			<string>Connect Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>connect_kw</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nordqc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for quick connect to any NordVPN country</string>
			<key>label</key>
			<string>Quick Connect Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>quick_connect_kw</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>norddc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for disconnect NordVPN</string>
			<key>label</key>
			<string>Disconnect Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>disconnect_kw</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Yes</string>
			</dict>
			<key>description</key>
			<string>Hide NordVPN window opened by this workflow</string>
			<key>label</key>
			<string>Hide NordVPN</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hide_after_open</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Time to wait (in seconds) before hiding NordVPN opened by this workflow.</string>
			<key>label</key>
			<string>Delay Before Hide</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>delay_before_hide</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
